@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --background: #000000;
  --text-color: #FFFFFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;

  --font-default: 'Manrope', sans-serif;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-default); 
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);

  background-image: 
    url(../assets/cup-of-coffee.png), 
    url(../assets/blur-1.png), 
    url(../assets/blur-2.png);

  background-repeat: no-repeat;
  background-position: bottom center, bottom left, top right;
  background-size: 50%, 60%, 50%;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}