@charset "UTF-8";

.burguer-btn {
  display: none;
}

.logo img:nth-child(2) {
  display: none;
}

@media (max-width: 800px) {
  body {
    margin: auto;
    padding-top: 2.3rem;
    background-color: black;
    background-image: 
    url(../assets/cup-of-coffee.png),
    url(../assets/blur-mobile.png);

    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%, 100vh 60%;
    background-attachment: fixed;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img:nth-child(1) {
    display: none;
  }

  .logo img:nth-child(2) {
    display: flex;
  }

  .navbar {
    display: block;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 4.3rem);
    top: 9.5rem;
    left: 0;
    background-color: var(--background);
    z-index: 999;
    visibility: hidden;
  }

  .navbar.open {
    visibility: visible;
  }

  .coffee-btn {
    display: none;
  }

  .menu-mobile > .burguer-btn {
    display: block;
    width: 1.5rem;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    background-image: url(../assets/menu-burguer-open.svg);
    background-color: transparent;
    transition: 0.5
  }

  .menu-mobile > .burguer-btn.close {
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    border: none;
    background-image: url(../assets/menu-burguer-close.svg);
    background-color: transparent;
    transition: 0.5
  }

  .slogan {
    width: 100vw;
    height: 95vh;
    padding-top: 18%;
    padding-bottom: 63%;
    margin: 2.5rem auto;
    border-top: 1px solid var(--border);
  }

  .slogan > .text-mobile {
    display: block;
    width: 100%;
    max-width: 50rem;
    padding-inline: 3rem;
    text-align: center;
  }

  .slogan > .text-mobile > p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.56rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .slogan img {
    width: 80%;
    margin-top: 6rem;
  }

  .text-mobile > .coffee-btn-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;

    margin: auto;
    margin-top: 5.5rem;

    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 0.02em;
    padding: 0.625em 1.875em;
    border-radius: 6px;
    border: 2px solid var(--button);
    background-color: transparent;
    color: var(--text-color);
  }

  .text-mobile > .coffee-btn-mobile {
    transform: scale(1.05);
    transition: 0.4s;
  }

  .coffee-btn-mobile > span {
    margin-left: 0.625rem;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
  }
}
