@charset "UTF-8";

section button.burguer-btn {
  display: none;
}

div.logo img:nth-child(2) {
  display: none;
}

@media (max-width: 930px) {
  body {
    padding-top: 2.3rem;
  }
  header {
    padding-left: 0;
  }

  section.header-container {
    display: flex;
    justify-content: space-around;
  }

  div.logo img:nth-child(1) {
    display: none;
  }

  div.logo img:nth-child(2) {
    display: flex;
  }

  header .navbar {
    display: block;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 4.3rem);
    top: 9.5rem;
    left: 0;
    background-color: var(--background);
    visibility: hidden;

  }

  header .coffee-btn {
    display: none;
  }

  section .menu-mobile button.burguer-btn {
    display: block;
    width: 1.5rem;
    height: 0.5rem;
    border: none;
    background-image: url(../assets/menu-burguer-open.svg);
    background-color: transparent;
  }
}
