@charset "UTF-8";

.slogan {
  width: 95%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slogan img {
  max-width: 34.25rem;
}
